@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  max-height: 1000000px;
}

body {
  -ms-overflow-style: scrollbar;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.gm-style img {
  max-width: none;
}

a {
  outline: none;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
}

a:hover,
a:focus,
a:active {
  outline: none;
  text-decoration: none;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
}

@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

body,
html {
  height: 100%;
}

#wrapper {
  height: 100%;
  width: 100%;
  display: table;
  table-layout: fixed;
  overflow: hidden;
}

.form-block {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  text-align: center;
}

.block-holder {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 100;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: white;
  padding: 15px;
  max-width: 320px;
  margin: 20px auto;
}

.block-holder h1 {
  font-weight: 300;
  margin: 0 0 15px;
}

.block-holder .btn-holder {
  overflow: hidden;
}

.block-holder .btn {
  display: block;
  width: 100%;
  margin: 0 0 10px;
  vertical-align: top;
  color: white;
  cursor: pointer;
  padding: 10px 35px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
}

.block-holder .btn:hover,
.block-holder .btn:active {
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
}

.block-holder .btn:after {
  position: absolute;
  left: 10px;
  top: 50%;
  font: 18px FontAwesome;
  content: '';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding: 0;
  margin: -9px 0 0;
}

.block-holder .btn.btnfacebook {
  border-color: #3b5998;
  background: #3b5998;
}

.block-holder .btn.btnfacebook:after {
  content: '\f09a';
}

.block-holder .btn.btnfacebook:hover,
.block-holder .btn.btnfacebook:active {
  background: #314a7e;
  border-color: #314a7e;
}

.block-holder .btn.btngoogle {
  background: #dd4b39;
  border-color: #dd4b39;
}

.block-holder .btn.btngoogle:after {
  content: '\f0d5';
}

.block-holder .btn.btngoogle:hover,
.block-holder .btn.btngoogle:active {
  background: #cf3624;
  border-color: #cf3624;
}

.block-holder .or {
  display: inline-block;
  vertical-align: top;
  letter-spacing: 0;
  font-style: italic;
  position: relative;
  font: 300 italic 16px/20px Georgia, Times New Roman, serif;
  opacity: 0.7;
  margin: 5px 0 15px;
}

.block-holder .or:after,
.block-holder .or:before {
  display: inline-block;
  vertical-align: top;
  letter-spacing: 0;
  content: '-';
  margin: 0 3px;
}

.block-holder .btn-register {
  display: block;
  overflow: hidden;
  margin: 10px 0 0;
}

label {
  display: block;
  overflow: hidden;
  position: relative;
  text-align: left;
  font-weight: 400;
  margin: 0 0 10px;
  padding: 0 0 0 115px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

label .text {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 115px;
  font-size: 13px;
  line-height: 20px;
  color: #000;
}

label input {
  border: 0;
  background: none;
  height: 40px;
  outline: none;
  float: left;
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  padding: 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #999;
}

label input::-webkit-input-placeholder {
  color: #999;
}

label input::-moz-placeholder {
  opacity: 1;
  color: #999;
}

label input:-moz-placeholder {
  color: #999;
}

label input:-ms-input-placeholder {
  color: #999;
}

label input.placeholder {
  color: #999;
}

label.parent-active {
  border-color: #00c4cc;
  -webkit-box-shadow: 0 0 3px 0 #00c4cc;
  box-shadow: 0 0 3px 0 #00c4cc;
}

label .input-placeholder-text {
  left: 125px;
  top: 10px;
  color: #999;
}
